.pokemontile {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.highlight {
  width: 250px;
  height: 100px;
}

.highlight:hover {
  border-color: #40a9ff;
  box-shadow: 0px 0px 2px #40a9ff;
}

.disable {
  width: 250px;
  height: 100px;
  background-color: #F5F5F5 !important;
  border-color: #E9E9E9 !important;
  color: #BFBFBF !important;
}

.win {
  width: 250px;
  height: 100px;
  border-color: #389e0d;
  box-shadow: 0px 0px 2px #52c41a;
}

.lose {
  width: 250px;
  height: 100px;
  border-color: red;
  box-shadow: 0px 0px 2px red;
}

.crownWin {
  position: absolute;
  margin-left: -25px;
  margin-top: -20px;
  height: auto;
  max-width: 50px;
  transform: rotate(-20deg);
  z-index: 100;
}

.crownLose {
  position: absolute;
  margin-left: -25px;
  margin-top: -20px;
  height: auto;
  max-width: 50px;
  transform: rotate(-20deg);
  z-index: 100;
  display: none;
}

:global .ant-table-body {
  overflow-x: auto!important;
  overflow-y: auto!important;
}