# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Database logs
*trace.db
*.log
*.zip
notebooks/01-use-cases/finance/risk-management/operational-risk/credit-card-fraud-detection/output/*.csv
