# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Database logs
*trace.db
*.log
*.zip
notebooks/01-use-cases/finance/risk-management/operational-risk/credit-card-fraud-detection/output/*.csv
notebooks/01-use-cases/finance/risk-management/credit-risk/ifrs9/lending-club-data/risk-engine/*.csv
notebooks/01-use-cases/finance/risk-management/credit-risk/xva/data-prev/*.csv
notebooks/01-use-cases/finance/risk-management/credit-risk/xva/data/*.csv
notebooks/01-use-cases/finance/risk-management/credit-risk/xva/what-if/*.csv
notebooks/01-use-cases/finance/risk-management/credit-risk/ifrs9/lending-club-data/*.csv
node_modules